*{
    box-sizing: border-box;
}

/* Mengatur font yang dipakai dan background halaman */
body{
    font-family: arial;
    margin: 0;
    background: #038ade;
}

/* style halaman login */

/* Membuat container menjadi layout flexbox dan kotak login ditengah */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
 
/* Mengatur kotak form login lebar 400px dan background putih*/
.login-box h2{
    margin-top: 150px;
    flex-basis: 400px;
    background: #fff;
    padding: 20px;
}

/* Mengatur judul form dengan border bawah dan posisi ditengah */
.login-box h2{
    border-bottom: 1px solid #ccc;
    color: #555;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
}

/* Mengatur agar tag input dan select memenuhi container dan tampilan lebih bagus */
input, select{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

/* Mengatur tampilan tombol submit */
input[type=submit]{
    background-color: #038ade;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}